body, html {
	height: 100%;
	max-height: max-content;
	background-color: black;
	overflow: hidden;
}

#ball {
	width: 20px;
	height: 20px;
	left: 50%;
	top: 50%;
	position: absolute;
	background-color: white;
	border-radius: 20px;
}

.paddle {
	width: 20px;
	height: 100px;
	background-color: white;
	position: absolute;
}

#paddleLeft {
	float: left;
}

#paddleRight {
	right: 5px;
}

#line {
	width: 50%;
	height: 100%;
	border-right: 10px dashed white;
}

.contador {
	color: white;
	position: absolute;
	width: 500px;
	height: 500px;
	border: 3px solir white;
	top: 10%;
	font-size: 100px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#contador1 {
	left: 25%;
}

#contador2 {
	left: 75%;
}